{% extends 'base.html' %}


{% block content %}
	<div class="main-content">
			
		<div class="container">
			<div class="row">
				<div class="col-md-9">

					<img src="/static/images/kolaz.png">
				</div>

				<div class="col-md-3">
					<p class="about-us-text">We are a boutique firm based in Serbia that gathers young internationally experienced architects specialized in CGI. <br><br>

					We deliver interior, exterior, 3D animation, and virtual tours. <br><br>

					Our team is versatile and proficient in meeting various requirements when it comes to modelling and post-production. <br><br>

					Feel free to get in touch to know more. </p>


				</div>

			
			</div>
		</div>

	</div>

{% endblock %}