@font-face{
  font-family: Robota;
  src: url(/static/fonts/Robota-NonCommercial.otf);
}
@font-face{
  font-family: sanserific;
  src: url(/static/fonts/Sanseriffic.otf);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Robota', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0e0e0e;
}


/*HEADER SECTION*/
.header .container{
  max-width: 100%;
  height: 80px;
}

.logo{
    float: left;
    padding-top: 20px;
}



.header{
  background-color: #0e0e0e;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  color: white;
  height: auto;
}
.header p{
  text-align: justify-all;
  word-break: keep-all;
}

.header ul li a{
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-family: 'sanserific', sans-serif;

}

.header ul li{
  list-style: none;
  display: inline-block;
  float: right;
  padding-left: 30px;
}

.header ul li a:hover{
  color: black;
  background-color: white;
  border: 1px solid purple;
  transition: 0.3s;
  padding: 4px;

}

.header ul{
  margin-right: 20px;
  padding-top: 27px;
}

/*HERO SECTION*/

.hero-section{
  height: 100vh;
  justify-content: center;
  display: flex;
  vertical-align: middle;
}

.hero-section h1{                                            
  color: white;
  text-align: center;
  font-size: 3em;
  vertical-align: middle;
  padding-top: 180px;
}
.hero-section p{
    color: #cca3cb;
    text-align: center;
    font-size: 1.75rem;
    padding-bottom: 20px;
    font-family: 'sanserific' , sans-serif;
}

/*scroll down button */

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: #2994D1;
  fill: transparent;
  stroke-width: 1px;  
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 { 
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}


/*PROJECTS*/
/*main strana sa prikazom projekata***************************************************************************************************************/
.main-content{
  display: inline-block;
}


.projekti:hover .btn{
  visibility: visible;
}

.btn {
  font-family: 'Robota',sans-serif;
  text-align: center; /*centriraj tekst*/
  visibility: hidden;
  top: 50%; /*na sredini slike po vertikali*/
  left: 50%; /*na sredini slike po horizontali*/
  transform: translate(-50%, -50%); /*centralizuje element unutar roditelja*/
  text-transform: uppercase;
  color: white;
  padding: 20px 80px;
  text-transform: uppercase;
  letter-spacing: 4px;
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  max-width: 300px;
}
.btn span {
  font-family: "Roboto", sans-serif;
  position: relative;
  z-index: 100;
  font-size: 10px;
}
.btn:before, .btn:after {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.btn:before {
  transform: translate3d(-100%, 0, 0);
  background-color: white;
  border: 1px solid white;
  transition: transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.btn:after {
  background-color: #8f8c8c;
  border: 1px solid #8f8c8c;
  transform: translate3d(100%, 0, 0);
  transition: transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
}
.btn:hover:before {
  transform: translate3d(0, 0, 0);
}
.btn:hover:after {
  transform: translate3d(0, 0, 0);
}

.main-content h5{
  text-align: center;
  color: white;
  padding-bottom: 30px;
  font-family: 'sanserific', sans-serif;
  font-size: 20px;
}

.main-content a p{
  padding: 5px;
  border-radius: 10px;
}

.main-content a{
  text-decoration: none;
  font-weight: bold;
}
.slika{
  width: 350px;
  height: 330px;
  padding: 30px;
  border-radius: 3px;
}

.projekti:hover{
  transform: translateY(-10px);
}

.projekti{
  display: inline-block;
  position: relative;
  transition: 0.3s;
  padding: 20px;
}

.projectName{
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  padding-top: 40px;
  font-size: 1rem;
  font-family: 'sanserific', sans-serif;
}
/*SLIDER U HERO SEKCIJI*********************************************************************************************************/
.wrapper {
  width: 100%;
  overflow: hidden;
}
.photobanner {
  position: relative;
  height: 300px;
  margin-bottom: 25px;
  display: flex;
  width: 100%;
}

.photobanner img {
  margin: 0px 5px;
  margin-bottom: 10px;
  max-width: 100%;
  height: 250px;
  margin-right: 30px;
 
}

.photobanner {
  animation: bannermove 15s linear infinite alternate-reverse;
}

@keyframes bannermove {
  from {
    left: 0px;
  }
  to {
    left: -700px;
  }
}

.slika-blok{
  display: block;
  margin-bottom: 20px;
  margin-right: 10px;
}

/*NEKI ITEM NE ZNAM ODAKLE MI******************************************************************************** AL NE DIRAJ!*/
.item {
 
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 20px auto;
  width: 300px;
  height: 250px;
  object-fit: cover;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 2px;
  transition: 1s box-shadow;
}

/*scroller***************************************************************************************************************************************/

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #444;
  box-shadow: 0 0 1px 1px #111, inset 0 0 4px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(left, #3e3e3e, #111, #000);
  box-shadow: inset 0 0 1px 1px #646464;
}

/*animacija galerije********************************************************************************************************************/


#slider{
  width:80%;
  margin:0 auto;
  position:relative;
  overflow:hidden;
  box-shadow:2px 5px 10px rgba(0,0,0,0.4);;
}

.slide{
  width:100%;
  
  display:none;
  animation-name:fade;
  animation-duration:1s;
  
}
img{
 width:100%; 
}
@keyframes fade{
  from{opacity:0.5;}
  to{opacity:1;}
}

.controls{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  font-size:1.5em;
  padding:15px 10px;
  border-radius:5px;
  
}

.controls:hover{
  background:white;
  transition:0.3s;
}

.controls:active{
  color:grey;
}

#left-arrow{
  left:10px;
}

#right-arrow{
  right:10px;
}
.pagination{
  color: white;
  margin-right: 100px;
  padding-bottom: 50px;
}
#dots-con{
  
  text-align:center;
}
.dot{
  display:inline-block;
  background:grey;
  padding:8px;
  border-radius:50%;
  margin:10px 5px;
}

.active{
  background:crimson;
}

@media (max-width:576px){
  #slider{width:100%;
  
  }
  
  .controls{
    font-size:1em;
  }
  
  #dots-con{
    display:none;
  }
}

.designKocka{
  color: whitesmoke;
  padding-left: 70px;
}

/*about us css***********************************************************************************************************************************/


.main-content img{
  max-width: 800px;
  float: left;

}

.about-us-text{
  padding-top: 65px;
  color: white;
  font-family: 'sanserific', sans-serif;
  text-align: left;
}


.leftArrow {
  cursor: pointer;
  position: relative;
  display: block;
  margin: 100px 0 0 100px;
  width: 50px;
  height: 50px;
  border: solid 6px #999;
  border-radius: 100%;
  z-index: 1;
  transition: all 0.2s linear;
}
.leftArrow:before, .leftArrow:after {
  content: "";
  position: absolute;
  width: 35%;
  height: 10%;
  top: 41%;
  left: 55%;
  background: #999;
  z-index: 2;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: all 0.2s linear;
}
.leftArrow:after {
  z-index: 3;
  top: 59%;
  left: 55%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.leftArrow:hover {
  border: solid 8px #777;
}
.leftArrow:hover:after, .leftArrow:hover:before {
  background: #777;
}
.leftArrow:active {
  border: solid 8px #111;
}
.leftArrow:active:after, .leftArrow:active:before {
  background: #111;
}

.pagination{
  justify-content: center;
}

.rightArrow {
  cursor: pointer;
  position: relative;
  display: block;
  margin: 100px 0 0 100px;
  width: 50px;
  height: 50px;
  border: solid 6px #999;
  border-radius: 100%;
  z-index: 1;
  transition: all 0.2s linear;
}
.rightArrow:before, .rightArrow:after {
  content: "";
  position: absolute;
  width: 35%;
  height: 10%;
  top: 41%;
  left: 55%;
  background: #999;
  z-index: 2;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: all 0.2s linear;
}
.rightArrow:after {
  z-index: 3;
  top: 59%;
  left: 55%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.rightArrow:hover {
  border: solid 8px #777;
}
.rightArrow:hover:after, .rightArrow:hover:before {
  background: #777;
}
.rightArrow:active {
  border: solid 8px #111;
}
.rightArrow:active:after, .rightArrow:active:before {
  background: #111;
}


/*FOTER ***********************************************************************************************************************/

footer{
    background-color: #272727;
    text-align: center;
    padding-top: 30px;
    margin-top: auto;
}

footer li{
    list-style: none;
    margin: 10px;
    display: inline-block;
}

.icons a{
    background: #52527a;
    color: #272727;
    padding: 14px;
    font-size: 20px;
    border-radius: 100%;
    display: flex;
}
.icons a:hover{
    color: #ffffff;
    transition: 0.5s;
}

.menu a{
    color: #ffffff;
}
.menu a:hover{
    color: #52527a;
    transition: 0.5s;
}

.footer-copyright{
    background-color:#52527a;
    color: #ffffff;
    padding: 15px;
    margin-top: 30px;
}

.footer-copyright p{
    margin-bottom: 0px;
    font-family: 'sanserific' , sans-serif;
}

.contactMail{
  color: white;
  text-transform: lowercase;
  font-family: 'sanserific' , sans-serif;
}

.mojLinkedin{
    text-decoration: none;
    font-family: 'sanserific' , sans-serif;
    color: white;
}

.footer-copyright p a{
    text-decoration: none;
    color: white;
    font-family: 'sanserific' , sans-serif;
    transition: 0.5s;
}

.footer-copyright p a:hover{
    color: black;
}


@media only screen and (max-width: 767px) {
    
  .logo{
    display: none;
  }

  .projectName{
    float: left;
    padding: 0px;
  }

}

 @media (max-width: 1199px) {
    .about-us-text {
      display: block;
      padding-top: 20px;
    }

    .main-content img {
      width: 100%;
    }
  }

   @media (max-width: 991px) {
    .about-us-text {
      display: block;

    }

    .main-content img {
      width: 100%;
      float: none;
    }
  }